# Binaries
build/
*.o
*.out

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.env
*.env

# Virtual environment
venv/

# Logs
travel_log.csv
ml/output.txt
*.log

# ML Model
ml/model.pkl

# Editor files
*.swp
*.swo
.vscode/
.idea/

# CMake build
build/
