# Python virtual environment
venv/

# CMake build directory
build/

# Compiled object files and binaries
*.o
*.out
*.a
*.so
*.exe

# Editor/IDE files
*.swp
*.swo
*.bak
*.tmp
*.log
.vscode/
.idea/

# Python bytecode
__pycache__/
*.py[cod]

# Logs and cache
log.txt
log.csv
cache/
logs/

# Pybind build artifacts (if any)
*.cppbuild/

# OS-specific files
.DS_Store
Thumbs.db

